astroid==2.15.6
awswrangler==3.3.0
beautifulsoup4==4.12.2
boto3==1.28.30
botocore==1.31.30
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
courlan==0.9.3
dateparser==1.1.8
dill==0.3.7
filelock==3.12.2
fsspec==2023.6.0
htmldate==1.4.3
huggingface-hub==0.16.4
idna==3.4
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
jmespath==1.0.1
jusText==3.0.0
langcodes==3.3.0
lazy-object-proxy==1.9.0
lxml==4.9.3
MarkupSafe==2.1.3
mccabe==0.7.0
mocker==1.1.1
mpmath==1.3.0
networkx==3.1
numpy==1.25.2
packaging==23.1
pandas==2.0.3
platformdirs==3.10.0
pluggy==1.2.0
pyarrow==12.0.1
pylint==2.17.5
pytest==7.4.0
pytest-mock==3.11.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
requests-file==1.5.1
s3transfer==0.6.2
safetensors==0.3.2
six==1.16.0
soupsieve==2.4.1
sympy==1.12
tld==0.13
tldextract==3.4.4
tokenizers==0.13.3
tomlkit==0.12.1
torch==2.0.1
tqdm==4.66.1
trafilatura==1.6.1
transformers==4.31.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.16
wrapt==1.15.0
